.centered {
  position: absolute;
  top: 50%;
  left: 50%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
nav {
  text-decoration: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  flex-direction: center;
  justify-content: center;
}
a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
.title-container {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.bio2 {
  font-family: 'Raleway', sans-serif;
  text-align: right;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  flex-wrap: wrap;
}
.Front-Side {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: auto;
  flex-wrap: wrap;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
}
.artist-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: auto;
  flex-wrap: wrap;
}
.img1 {
  width: 85%;
  float: left;
}
.img2 {
  width: 85%;
  float: right;
}
.artist {
  clear: both;
}
.bio1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
