html{font-size: 62.5%;}

body{
    margin:5%;
}

header{
    width:95%;
    padding:2%;
    font-size:2.5rem;
    display:flex;
    justify-content: center;
    font-family: @mainFont;
    nav{
        width:40%;
        text-align: center;
        a{
            margin:2%;
            text-decoration: none;
            color:grey;
            &:hover{
                color:rgb(55, 55, 55);
            }//hover
        }//a
    }//nav
}//header

.titleContainer{
    max-width: 99%;
    font-family: @mainFont;
    img{
        width:95%;
        margin:2.5%;
        &:hover{
            opacity: 80%;
        }//hover
    }//img
}//.titleContainer

.artistsContainer {
    max-width:99%;
    display:flex;
    .artist{
        font-family: @mainFont;
        width:50%;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:2%;
        img{
            width:70%;
            border-radius: 5px;
        }//img
        a{
            text-decoration: none;
            font-size:2rem;
            color:black;
            margin:3% 0;
        }//a
        .bio{
            font-size:1.5rem;
            flex-wrap:wrap;
            text-align: center;
        }//bio
    }//.artist
}//.artistsContainer