.displayFlex(@direction, @justify) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify;
}

.fontFormat(@color, @size) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: @size;
  font-weight: 100;
  color: @color;
}

