// Mixins in here

.font-fam(@size) {
  font-family: "Raleway", sans-serif;
  font-size: @size;
}

.button-class() {
  background-color: @golden;

  &:hover {
    background-color: @btn-hover;
  }
}

.flex-it (@direction, @justify) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify;
}

.center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-active() {
  color: @shark;

  &:hover {
    color: @golden;
  }
}
