.button(){
    padding-top: .5%;
    padding-bottom: 2%;
    height: 4rem;
    width: 30%;
    border-radius: 6px;
    text-align: center;
    font-size: 2rem;
    background-color: @white;
}


.flex-display (@align, @adjust){
    display: flex;
    align-items: @align;
    justify-content: @adjust;
}