header {
  width: 100%;
  display: flex;
  justify-content: center;

  nav {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 3% 0;

    a {
      font-size: 1.6rem;
      margin: 0 3%;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
      color: gray;

      &:hover {
        font-weight: 600;
        color: black;
      }
    }

    p {
      font-size: 1.8rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
      color: gray;
    }
  }
}