header nav {
    .custom-layout(flex,center,center);
  
    nav a {
        padding: 1rem;
        color: black;
        background-color: white;
        text-decoration: none;
    }     
}

.btn-class {
    padding: 10px 40px;
    border-radius: 10px;
    background-color: white;
    color: @shark;
    cursor: pointer;
  
    &:hover {
      background-color: darken(white, 80%)
    }
  }