// Colors
@white: #f9f9f9;
@coal: #353839;
@shark: #212529;
@golden: #faa619;

//font
@font-stack: "Raleway", sans-serif;

//hover
@btn-hover: darken(@golden, 1%);

@pic-hover: lighten, (80%);

//media
@mobile: ~"(max-width:500px)";
